/* basic setting */
body {
    color: white;
    font-size: 16px;
    background-color: #191F28;
    /* font-family: Montserrat; */
}
footer {
    background-color: #222B3A;
}

.font-20 {
    font-size: 20px !important;
}
/* header */
.nav-header {
    background-color: #191F28;
    padding: 10px 0;
}
.nav-right-item {
    list-style: none;
    display: inline-flex;
    margin: 0;
}
.nav-right-item li:first-child {
    padding-right: 15px;
}
.mobile-nav-logo {
    width: 54px;
    height: 50px;
}
/* footer */
footer {
    border-top-left-radius: 95px;
    border-top-right-radius: 95px;
}
.footer-email-form {
    width: 280px;
    margin: auto;
    height: 50px;
}
.footer-title {
    padding: 40px;
}
.orange-color-btn {
    color: #222B3A;
    background-color: #FF886D;
    border: 2px solid #FF886D;
    font-weight: 700;
    border-radius: 8px !important;
}
.footer-email-input {
    background-color: #222B3A;
    border: 2px solid #FF886D;
    color: white;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: none;
}
.footer-email-input::placeholder {
    color: white;
}
.footer-email-form span {
    margin-left: -5px;
}
.footer-nav-list {
    padding-top: 50px;
    padding-bottom: 70px;
}
.footer-logo-wrap {
    padding-bottom: 30px;
}
.footer-column-group ul {
    margin: 0;
    padding: 0;
}
.footer-column-group ul li {
    display: block;
    margin-bottom: 20px;
}
.footer-column-title {
    padding-top: 15px;
    margin-bottom: 35px;
    color: #FF886D;
}
.footer-column-group ul li img {
    margin-right: 5px;
}
/* homepage */
.body-introduction {
    padding: 80px 0;
}
.body-features {
    display: flex;
}
.Features-items-wrap {
    display: flex;
}
.feature-card {
    text-align: center;
    max-width: 400px;
}
.features-hr-img {
    text-align: center;
    padding-bottom: 20px;
}
.card-description {
    font-size: 20px;
    padding: 10px 30px;
}
.full-support-wrap {
    text-align: center;
    padding: 70px 0;
}
.features-curve-img {
    width: 100%;                        
}
.apps-description {
    font-size: 30px;
    padding: 30px 0px;
}
.body-apps, .body-staking {
    background-image: url('../images/apps-right.png');
    background-repeat: no-repeat;
    background-position: top right;
    padding: 120px 0;
}
.body-nft {
    padding: 120px 0;
}
